

 
 
 body{
    background: url('../man-hands-reading-boy.jpg') no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    height:100vh;
    box-sizing:border-box; 
    background-attachment: fixed;


 }
    
    
   
      @media (min-width: 992px) {  
        body {
            background: url('../images/img3.jpg') no-repeat;
            background-size: cover;
            font-family: Arial, Helvetica, sans-serif;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
         }  
    


/*css navbar*/

.dropdown-menu {
    background-color: rgba(12, 11, 11, 0.548);
    color: white;
    
}

.dropdown-menu > li > a:hover{
    background-color: rgba(143, 137, 137, 0.795); 

}

.nav-item > a:hover{
color: rgba(143, 137, 137, 0.795); 
}

.navbar-brand:hover{
    color: rgba(143, 137, 137, 0.795);  
}

a{
    color: white;
}

.btn{
    color: white;
    border: none;
}

#returnBtn{
    background-color:  rgba(12, 11, 11, 0.548);
    margin: 0, auto;
    
}



.transition-property{
    border-color: none;
}

#navbar{
    opacity: 1.1;
    width: 100%;
   margin-right: 0;
   margin-left: 0;
   background-color: rgba(12, 11, 11, 0.548);
   color: white;

}

#favBtn:hover{
    background-color:  rgba(12, 11, 11, 0.548);
    color:white;

}



/*css for news article grid*/


.container-fluid {
    display: grid; 
    /* grid-template-columns: auto auto auto; */
    padding: 10px;
    
 
}

.col-sm-3 {
background-color: hsla(0,0%,100%,.3);
opacity: 0.8;
padding: 20px;
font-size: 30px;
text-align: center;
margin: 10px;
font-size: 15px;

} 

/*css for news article display*/

#articleDisplay{
background-color: black;
opacity:0.8;
padding: 20px;
text-align: center;
margin: 10px;
font-size: 15px;
z-index: 1;
}

.searchItem{
    transition-property: none;
}

.card-title{
    font-size: 20px;
    font-weight: bold;
    

}

.grid-item.article-img-top {
    width: 250px;
    height: 250px;
    object-fit: cover;
    
  
    
}



.card-img-top{
    width: 250px;
    height: 200px;
    object-fit: cover;
    z-index: 1; 

}


.card-content{

color:white;
    
}
