body {
    background: url('../images/coffee-cup-information-97050.jpg') no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
} 

#navbar{
    opacity: 1.1;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
background-color: bisque;
opacity: 0.8;
padding: 20px;
font-size: 30px;
text-align: center;
margin: 10px;

}