

 
 
 /* body{
    background: url('../man-hands-reading-boy.jpg') no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    height:100vh;
    box-sizing:border-box; 
    background-attachment: fixed;


 }
    
    
   
      @media (min-width: 992px) {   */
        body {
            background: url('../images/img3.jpg') no-repeat;
            background-size: cover;
            font-family: Arial, Helvetica, sans-serif;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
         /* }   */
    
@media (max-width: 1150px){
    .container-fluid{
        display: flex;
    }
}




/*css navbar*/

.dropdown-menu {
    /* background-color: rgba(12, 11, 11, 0.548); */
    background-color: black;
    opacity: 1;
    z-index: 100;
    color: white;
    
}

.dropdown-menu > li > .Charity-dropdown-item > a:hover{
    background-color: rgba(143, 137, 137, 0.795); 
    z-index: 100;  
}

.dropdown-menu > li> a:hover{
        background-color: rgba(143, 137, 137, 0.795); 
        z-index: 100;
}
.nav-item > a:hover{
color: rgba(143, 137, 137, 0.795); 
}

.navbar-brand:hover{
    color: rgba(143, 137, 137, 0.795);  
}

a{
    color: white;
}

.btn{
    color: white;
    border: none;
}

#returnBtn{
    background-color:  rgba(12, 11, 11, 0.548);
    margin: 0, auto;
    
}



.transition-property{
    border-color: none;
}

#navbar{
    opacity: 0.8;
    z-index: 100;
    width: 100%;
   margin-right: 0;
   margin-left: 0;
   /* background-color: rgba(12, 11, 11, 0.548); */
   background-color: black;
   color: white;
   
   

}

#favBtn:hover{
    background-color: rgb(151, 148, 148);
    color:white;

}

#favBtn{
    background-color: black;
}

:hover{
    color: rgb(151, 148, 148);

}



/* aside bar*/





 #sidebar{
    justify-content: center;
    background-color:  rgba(12, 11, 11, 0.548);
    margin-left: 0;
    
    

}

#fav-items{
    border-top-style: solid;
    overflow: auto;
} 


.col-sm-3{
background-color: rgb(44, 44, 44);
opacity: 0.7;
padding: 5px;
text-align: center;
margin: 10px;
font-size: 15px;
z-index: 80;
color:white;
overflow: auto;



    
}

.container{
    margin-right: 0;
    margin-left: 0;
    width: 100%;
}

.container-fluid{
    display: grid; 
    /* grid-template-columns: auto auto auto; */
    padding: 10px;
    margin-top:0;

}

#maincontent { 
    display: grid;
    padding: 0;
   
   
 }

 .col-sm-2{
     padding: 0;
 }

 .row{
     
     padding:5px;
 }

 #previousBtn{
    background-color: black;
 }

 #nextBtn{
    background-color: black;
 }

#articleDisplay{
    background-color: black;
    opacity:0.8;
    padding: 20px;
    text-align: center;
    margin: 10px;
    font-size: 15px;
    z-index: 1;
    }
    
    .searchItem{
        transition-property: none;
    }
    
    .card-title{
        font-size: 15px;
        font-weight: bold;
        object-fit: cover;
    
    }
    
    .grid-item.article-img-top {
        width: 250px;
        height: 250px;
        object-fit: cover;
        
      
        
    }
    
    
    
    .card-img-top{
        width: 200px;
        height: 200px;
        object-fit: cover;
        z-index: 1; 
    
    }
    
    
    .card-content{
    
    color:white;
    overflow:auto;
        
    }


#charityHolder{
    background-color: rgb(97, 94, 94);
}

.col-sm-6 > a:hover{
        color: rgb(44, 44, 44);
        text-decoration: none;
    }
}




   
  




    
 



